# gPTP (802.1AS) end-station config (ES2, RS): gmCapable stays 1 (802.1AS requires it), priority1 255 = never grandmaster.
[global]
gmCapable		1
priority1		255
priority2		255
logAnnounceInterval	0
logSyncInterval		-3
syncReceiptTimeout	3
neighborPropDelayThresh	800
min_neighbor_prop_delay	-20000000
assume_two_step		1
path_trace_enabled	1
follow_up_info		1
transportSpecific	0x1
ptp_dst_mac		01:80:C2:00:00:0E
network_transport	L2
delay_mechanism		P2P
tx_timestamp_timeout	50
